<ion-item>
    <ion-icon name="location"></ion-icon>
    <span>{{cityName}}</span>
</ion-item>

<ion-item>
    <ion-img [src]="icon_url"></ion-img>
</ion-item>

<ion-item>
    <span>Počasí: {{description}}</span>
</ion-item>

<ion-item>
    <span>Teplota: {{temp}} °C</span>
</ion-item>

<ion-item>
    <span>Tlak: {{pressure}} hPa</span>
</ion-item>

<ion-item>
    <span>Vlhkost vzduchu: {{humidity}} %</span>
</ion-item>

<ion-item>
    <span>Rychlost větru: {{wind_speed}} m/s</span>
</ion-item>

<ion-item>
    <span>Směr větru: {{wind_deg}}° => {{wind_direction}}</span>
</ion-item>