<ion-card *ngIf="weatherData">
  <ion-item>
    <ion-img [src]="icon_url"></ion-img>
    <ion-label>
      <h2>{{ description }}</h2>
      <p>Teplota: {{ temp }} °C</p>
      <p>Pocitová teplota: {{ feels_like }} °C</p>
      <p>Nejnižší teplota: {{ temp_min }} °C</p>
      <p>Nejvyšší teplota: {{ temp_max }} °C</p>
      <p>Tlak: {{ pressure }} hPa</p>
      <p>Vlhkost: {{ humidity }} %</p>
      <p>Rychlost větru: {{ wind_speed }} m/s</p>
      <p>Směr větru: {{ wind_deg }}° ({{ wind_direction }})</p>
    </ion-label>
  </ion-item>
</ion-card>