<ion-card *ngIf="weatherData">
  <ion-item>
    <ion-img [src]="icon_url"></ion-img>
    <ion-label>
      <p>{{ capitalizeFirstLetter(description) }}</p>
      <p>Teplota: {{ temp }}&nbsp;°C</p>
      <p>Pocitová teplota: {{ feels_like }}&nbsp;°C</p>
      <p>Nejnižší denní teplota: {{ temp_min }}&nbsp;°C</p>
      <p>Nejvyšší denní teplota: {{ temp_max }}&nbsp;°C</p>
      <p>Tlak: {{ pressure }}&nbsp;hPa</p>
      <p>Vlhkost: {{ humidity }}&nbsp;%</p>
      <p>Rychlost větru: {{ wind_speed }}&nbsp;m/s</p>
      <p>Směr větru: {{ wind_deg }}°&nbsp;({{ wind_direction }})</p>
    </ion-label>
  </ion-item>
</ion-card>