<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vyhledat město</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Název města</ion-label>
    <ion-input [(ngModel)]="searchCityName" placeholder="Zadejte název města" (keyup.enter)="searchCity()"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="searchCity()">Hledat</ion-button>

  <ng-container *ngIf="showWeatherInfo">
    <p>{{searchCityName}}</p>
    <app-weather-info [weatherData]="weatherData"></app-weather-info>
    <ion-item>
      <ion-button (click)="addToFavorites()">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="setHomeCity()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-item>
  </ng-container>

</ion-content>
