<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Domovská stránka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item lines="none">
      <p>Aktuální počasí</p>
      <ion-label slot="end">{{todayDate | date: "EEE dd MMM"}}</ion-label>
    </ion-item>
      <app-weather-info
        [temp]="temp"
        [icon_url]="icon_url"
        [description]="description"
        [pressure]="pressure"
        [humidity]="humidity"
        [wind_speed]="wind_speed"
        [wind_deg]="wind_deg"
        [wind_direction]="wind_direction"
        [cityName]="cityName">
      </app-weather-info>
  </ion-card>



    
</ion-content>
